.sumario{
    
    &__container{
        display: flex;
        padding: 5.6vw;
        background: transparent;
        border: 2px solid rgba(255,255,255,0.5);
        backdrop-filter: blur(15px);

        .imagem{
            margin-left: 20px;
            padding: 3vw;
        }

    }
}

@media(max-width:780px){
    .sumario{
        &__container{
            padding: 2vw;

            .imagem{
                margin-left: 0;
                padding: 0;
                
                img{
                    width: 200px;
                    padding: 10px;
                }
            }
        }
    }
}